body {
background-image: url(../neww/backgroud.png);
background-repeat: no-repeat;
background-size: cover;
background-position: top center;

}

h1 {
    font-style: italic;
    font-size: xx-large;
    color: seashell ; 
    text-align: center;   
}

div{
    font-style: italic;
    font-size: x-large;
    text-align: center;
    color: seashell;
}