body {
    background-image: center;
    background-repeat: no-repeat;
    background-image: url(../neww/backgroud.png);
}

h1 {
    font-style: italic;
    color: seashell ; 
    text-align: center;   
    font-size: 55pt;
}

.code{
    font-style: italic;
    font-size: 45pt;
    text-align: center;
    color: black;
    

}

.beacon{
    font-style: italic;
    font-size: xx-large;
    text-align: center;
    color: black;
}